*.egg-info
*.log
*.db
*.pyc
*.swp
*.swo
*.zip
*.cfg
*.tox
*~
*.mo

*.db
*.sqlite

dist
build
instance
production.py
logs
uploads
openid
ops_uwsgi_offline.xml
env
upload
static-build
toilWorkflowRun
uploadImg
tmpDownloadImg
.DS_Store
