@charset "UTF-8";
div, span , p , a {margin: 0;padding: 0;}
/* dialog */
.sq-dialog {position: absolute;left: 50%;top: 50%;z-index: 99;box-shadow: 0 0 10px rgba(0,0,0,.5);background: #f5f8fa;border-radius: 4px;}
.sq-dialog-masking {height: 100%;width: 100%;position: absolute;left: 0;top: 0;background: #000;opacity: .2;filter: alpha(opacity=20);z-index: 99;}
.sq-dialog-titlebar {border-top-right-radius: 4px;border-top-left-radius: 4px;height: 40px;position: relative;line-height: 40px;text-align: left;font-size: 18px;background: #fff;}
.sq-dialog-titlebar-text {padding-left: 10px;}
.sq-dialog-close {position: absolute;height: 16px;width: 30px;background: url("images/icon_btn2.png") -64px 0 no-repeat;text-indent: -9999px;right: 0;top: 11px;}
.sq-dialog-close:hover {background-position: -64px -22px;}
.sq-dialog-client {font-size: 14px;color: #000;}
.sq-dialog-content, .sq-dialog-buttons {padding: 10px;}
.sq-dialog-buttons {text-align: center;padding: 10px 10px 20px;}
.sq-dialog-buttons a {margin: 0 5px;}
.sq-dialog-footer {padding: 5px 10px;text-align: center;font-size: 12px;}
.single-line {line-height: 40px;text-align: center;padding: 0 20px;font-size: 20px;}
.d-btn-box {text-align: center;}
.d-btn-box a {display: inline-block;margin: 0 10px;}
.d-btn-box .btn, .sq-dialog-buttons a {display: inline-block;height: 30px;line-height: 30px;width: 100px;color: #fff;background: url("images/btn_cmb_3.png") -110px 0 no-repeat;}
.d-btn-box .btn:hover, .sq-dialog-buttons a:hover {color: #fff;background-position: -110px -33px;}

/* confirm-tip */
.confirm-tip {text-align: center;padding: 10px 25px 0;}
.confirm-tip p {padding-left: 50px;background: url("images/confirm_icon.png") left center no-repeat;height: 50px;line-height: 40px;display: inline-block;}
.sq-dialog-buttons .sq-dialog-btn1 {background: none;color: #999;width: 50px;}
.sq-dialog-buttons .sq-dialog-btn1:hover {background: none;color: #999;}

.sq-dialog-content textarea {background: none;resize: none;outline: none;}
.d-create-album {padding: 10px 30px 10px;width: 430px;}
.d-form-box .int-box {margin-bottom: 10px;}
.int-box .label, .int-box .int {display: inline;float: left;}
.d-form-box .int-box .label {width: 80px;line-height: 34px;height: 34px;}
.d-form-box .int-box .int input {display: block;height: 32px;line-height: 32px;border: solid 1px #c9c9c9;width: 338px;padding-left: 5px;background: #fff;}
.d-form-box .int-box textarea {border: solid 1px #c9c9c9;width: 338px;padding: 2px 0 0 5px;height: 105px;background: #fff;margin: 0;}

.upload-pop-wrap .sq-dialog-masking, .upload-pop-wrap .sq-dialog {z-index: 90;}
.upload-pop-wrap .sq-dialog-content {padding: 0;position: relative;}
.upload-pop-wrap .sq-dialog {width: 880px;margin-left: -440px;margin-top: -250px;}
.upload-pop-wrap .select-box {font-size: 14px;margin: 0 20px;}
.select-box select {margin-left: 2px;}
.upload-pop-wrap .create {font-size: 14px;color: #54a2f5;}

.uploader-box .queueList.filled{margin:0}
.uploader-box .queueList.webuploader-dnd-over{border:3px dashed #999}
#container{color:#838383;font-size:12px}
.uploader-box .queueList{position:relative;margin:20px;height:400px}
.uploader-box .queueList.webuploader-dnd-over{border:3px dashed #999}
.uploader-box p{margin:0}
.element-invisible{position:absolute!important;clip:rect(1px 1px 1px 1px);clip:rect(1px,1px,1px,1px)}
.webuploader-container{position:relative}
.uploader-box .placeholder{position:absolute;top:50%;left:0;margin-top:-43px;width:100%;color:#999;text-align:center}
.webuploader-element-invisible{position:absolute!important;clip:rect(1px 1px 1px 1px);clip:rect(1px,1px,1px,1px)}
.uploader-box .placeholder .webuploader-pick{display:inline-block;margin:0 auto 10px auto;width:220px;height:60px;background:url(images/btn_cmb_4.png) 0 0 no-repeat;box-shadow:0 1px 1px rgba(0,0,0,.1);color:#fff;text-align:left;text-indent:85px;font-size:18px;line-height:60px;cursor:pointer}
.uploader-box .placeholder .webuploader-pick-hover{background-position:0 -70px}
.uploader-box .placeholder .flashTip{position:absolute;bottom:20px;width:100%;color:#666;text-align:center;font-size:12px}
.uploader-box .placeholder .flashTip a{color:#0785d1;text-decoration:none}
.uploader-box .placeholder .flashTip a:hover{text-decoration:underline}
.uploader-box .filelist{overflow-y:auto;margin:0 15px;padding:0;height:90%}
.uploader-box .filelist:after{clear:both;display:block;overflow:hidden;width:0;height:0;content:''}
.uploader-box .filelist li{position:relative;float:left;display:inline;overflow:hidden;margin:0 8px 20px 0;width:110px;height:110px;text-align:center;font-size:12px}
.uploader-box .filelist li p.log{position:relative;top:-45px}
.uploader-box .filelist li p.title{position:absolute;top:0;top:5px;left:0;overflow:hidden;width:100%;text-align:left;text-indent:5px;white-space:nowrap;text-overflow:ellipsis}
.uploader-box .filelist li p.progress{position:absolute;bottom:0;left:0;z-index:50;overflow:hidden;margin:0;width:100%;height:8px;border-radius:0;background:0 0;-webkit-box-shadow:0 0 0}
.uploader-box .filelist li p.progress span{display:none;overflow:hidden;width:0;height:100%;background:#1483d8 url(images/progress.png) repeat-x;-moz-transition:width .2s linear;-o-transition:width .2s linear;transition:width .2s linear;-webkit-transform:translateZ(0);-webit-transition:width .2s linear;-ms-transition:width .2s linear;-webkit-animation:progressmove 2s linear infinite;-moz-animation:progressmove 2s linear infinite;-o-animation:progressmove 2s linear infinite;-ms-animation:progressmove 2s linear infinite;animation:progressmove 2s linear infinite}
@-webkit-keyframes progressmove{0%{background-position:0 0}
100%{background-position:17px 0}
}
@-moz-keyframes progressmove{0%{background-position:0 0}
100%{background-position:17px 0}
}
@keyframes progressmove{0%{background-position:0 0}
100%{background-position:17px 0}
}
.uploader-box .filelist li p.imgWrap{position:relative;z-index:2;overflow:hidden;width:110px;height:110px;vertical-align:middle;line-height:110px;-moz-transition:.2s ease-out;-o-transition:.2s ease-out;transition:.2s ease-out;-webkit-transform-origin:50% 50%;-moz-transform-origin:50% 50%;-o-transform-origin:50% 50%;transform-origin:50% 50%;-ms-transform-origin:50% 50%;-webit-transition:.2s ease-out;-ms-transition:.2s ease-out}
.uploader-box .filelist li img{width:100%}
.uploader-box .filelist li p.error{position:absolute;right:5px;bottom:0;z-index:100;width:20px;height:20px;background:url(images/icon_btn1.png) -160px 0 no-repeat;text-indent:-9999px}
.uploader-box .filelist li .success{position:absolute;right:2px;bottom:2px;z-index:200;display:block;width:20px;height:20px;background:url(images/icon_btn1.png) no-repeat -129px 0}
.uploader-box .filelist .file-panel{position:absolute;top:5px;left:0;z-index:300;overflow:hidden;width:100%;height:20px}
.uploader-box .filelist .file-panel span{float:right;display:inline;overflow:hidden;margin-right:5px;width:20px;height:20px;background:url(images/icon_btn2.png) 0 0 no-repeat;text-indent:-9999px;cursor:pointer}
.uploader-box .filelist div.file-panel span.cancel:hover{background-position:0 -23px}
.uploader-box .statusBar{position:relative;padding:0 20px;height:40px;border-bottom-right-radius:4px;border-bottom-left-radius:4px;background:#fff;vertical-align:middle;line-height:40px}
.uploader-box .statusBar .progress{position:relative;float:left;display:inline;overflow:hidden;margin:14px 10px 0 0;width:120px;height:12px;border:1px solid #1483d8;border-radius:2px;background:#fff;color:#6dbfff;text-align:center;line-height:12px}
.uploader-box .statusBar .progress span.percentage{position:absolute;top:0;left:0;width:0;height:100%;background:#1483d8}
.uploader-box .statusBar .progress span.text{position:relative;z-index:10}
.uploader-box .statusBar .info{position:relative;float:left;display:inline;color:#666;font-size:14px}
.uploader-box .statusBar .hasFailed{display:block;width:100%}
.retry-btn{position:absolute;top:4px;right:0;font-size:12px}
.retry-btn a{float:left;margin-left:10px;width:100px;height:30px;background:url(images/btn_cmb_3.png) 0 0 no-repeat;color:#666;text-align:center;line-height:30px}
.retry-btn a.ignore{background-position:0 0}
.retry-btn a.retry{background-position:right 0;color:#fff}
.retry-btn a.ignore:hover{background-position:0 -33px}
.retry-btn a.retry:hover{background-position:right -33px;color:#fff}
.statusBar .info span{margin:0 2px;color:#f0545c}
.uploader-box .statusBar .btns{position:absolute;top:5px;right:20px;line-height:40px}
#filePicker2{float:left;display:inline-block}
.uploader-box .statusBar .btns .uploadBtn,.uploader-box .statusBar .btns .uploadBtn.state-paused,.uploader-box .statusBar .btns .uploadBtn.state-uploading,.uploader-box .statusBar .btns .webuploader-pick{float:left;margin-left:10px;width:100px;height:30px;background:url(images/btn_cmb_3.png) 0 0 no-repeat;color:#666;text-align:center;font-size:14px;line-height:30px;cursor:pointer}
.uploader-box .statusBar .btns .uploadBtn.state-paused:hover,.uploader-box .statusBar .btns .uploadBtn.state-uploading:hover,.uploader-box .statusBar .btns .uploadBtn:hover,.uploader-box .statusBar .btns .webuploader-pick-hover{background-position:0 -33px}
.uploader-box .statusBar .btns .uploadBtn{background-position:-110px 0;color:#fff}
.uploader-box .statusBar .btns .uploadBtn:hover{background-position:-110px -33px}
.uploader-box .statusBar .btns .uploadBtn.disabled{opacity:.6;pointer-events:none}
.up-error-wrap {min-width: 250px;max-height: 250px;overflow-y: auto;text-align: center;}
.up-error-txt {line-height: 25px;margin-bottom: 2px;word-wrap: break-word;word-break: normal;}

.success-uploader{position:relative;display:none;color:#333;text-align:center}
.success-uploader .con{position:absolute;top:50%;left:0;margin-top:-45px;width:100%}
.success-uploader p{position:relative;display:inline-block;margin-bottom:20px;padding-left:48px;height:32px;line-height:32px}
.success-uploader span{color:#54a2f5}
.success-uploader p i{position:absolute;top:0;left:0;width:32px;height:32px;background:url(images/icon_btn1.png) no-repeat -80px 0}
.success-uploader .check-photo{display:inline-block;width:100px;height:30px;background:url(images/btn_cmb_3.png) -110px 0 no-repeat;color:#fff;line-height:30px}
.success-uploader .again{display:inline-block;margin-left:10px;width:65px;height:30px;line-height:30px}
.success-uploader .check-photo:hover{background-position:-110px -33px;color:#fff}