@charset "UTF-8";
/*** yhw 2016-05-11 ****/
html,body,div,span,iframe,h1,h2,h3,h4,h5,p,pre,em,img,strong,b,i,dl,dt,dd,ul,li,fieldset,form,label,legend,table,tbody,tfoot,thead,tr,th,td {margin:0;padding:0;border:0;outline:0}
a,input,button {padding:0;margin:0;outline:0;}
h1,h2,h3,h4,h5 {font-size:100%;}
ul {list-style:none;}
a {text-decoration:none;}
a:hover {text-decoration:none;}
a,button {cursor:pointer;}
table {border-collapse:collapse;border-spacing:0;}
input, select, img {vertical-align:middle;}
.f-l {float:left;display:inline;}
.f-r {float:right;display:inline;}
.clear {clear:both;}
.cls {*zoom: 1;}
.cls:after {display: block;content: "";visibility: visible;line-height: 0;font-size: 0;clear: both;}
.show {display:block;}
.hide {display:none;}
.i-b {display: inline-block;vertical-align: top;*zoom: 1;*display: inline;}
i, em {font-style: normal;}
/**************************/
body {font-size: 14px;font-family: "Microsoft Yahei", Arial, Helvetica, sans-serif;min-width: 900px;}
/**************************/
.container {width: 100%;}
.loginPage {/* background: url("images/login_bg.jpg") center top no-repeat; */}
input::-webkit-input-placeholder {color: #dadde0;}
.loginPage , .loginPage .container {height: 100%;}
.loginPage .bg, .loginPage .bg img {width: 100%;height: 100%;}
.login-box {width: 332px;height: 362px;background: url("images/login_box.png") center top no-repeat;position: absolute;left: 50%;top: 50%;margin: -181px 0 0 -166px;}
.login-box .login {padding: 160px 41px 0;color: #000;}
.login-box .int-box {border-radius: 4px;border: solid 1px #dadde0;height: 38px;position: relative;margin-bottom: 10px;}
.login-box .int-box .label {height: 20px;display: inline;float: left;width: 30px;background: url("images/icon_cmb.png") 6px 1px no-repeat;margin-top: 9px;}
.login-box .int-box .label-2 {background-position: 6px -25px;}
.login-box .int-box .int {display: inline;float: left;margin-left: 4px;}
.login-box .int-box .int input {display: block;background: none;border: none;height: 38px;line-height: 38px;width: 200px;}
.login-box .btn-box {padding-top: 10px;}
.login-btn {display: block;width: 250px;height: 40px;line-height: 40px;text-align: center;color: #fff;background: url("images/login_btn.png") 0 0 no-repeat;letter-spacing: 4px;}
.login-btn:hover {background-position: 0 -41px;color: #fff;}

/* index */
.indexPage {background: #edeff5;min-width: 900px;color: #333;}
body a {color: #333;}
body a:hover {color: #54a2f5;}
.g-top-bar {height: 80px;overflow: hidden;width: 100%;background: #fff;box-shadow: 0 0 10px rgba(0,0,0,.3);}
.g-top-bar .g-inner {padding: 15px 0 0 20px;}
.g-top-bar .user-infor {line-height: 50px;}
.g-top-bar .username {margin: 0 5px;min-width: 30px;}
.g-top-bar .logout {color: #999;}
.g-top-bar .logout:hover {color: #54a2f5;}
.g-top-bar .btn {display: inline-block;vertical-align: top;height: 28px;line-height: 28px;width: 84px;background: url("images/btn_cmb_1.png") 0 0 no-repeat;text-indent: 28px;margin-left: 10px;}
.g-top-bar .create-cont {padding: 11px 0 0 20px;font-size: 12px;}
.g-top-bar .upload {color: #fff;}
.g-top-bar .upload:hover {color: #fff;background-position: 0 -31px;}
.g-top-bar .create {background-position: -94px 0;} 
.g-top-bar .create:hover {background-position: -94px -31px;color: #333;}

.managePage .album-wrap {margin: 20px auto;width: 830px;}
.album-wrap {margin: 20px;position: relative;padding-bottom: 10px;}
.select-num {width: 190px;margin: 5px auto 0;height: 25px;line-height: 25px;border: solid 1px #fac18c;background: #fffbe8;color: #595554;text-align: center;box-shadow: 0 0 10px #eae4d8;}
.select-num span {color: #de1815;margin: 0 2px;}

.album-null {padding-top: 50px;text-align: center;color: #999;position: relative;}
.album-null .bg {height: 152px;background: url("images/album_null.png") center top no-repeat;display: block;}
.album-null .t {line-height: 30px;margin-top: 10px;}
.album-null a {color: #54a2f5;}
.pic-null .bg {height: 128px;background-image: url("images/pic_null.png");}

.album-list {display: inline;float: left;width: 180px;background: #fff;box-shadow: 0 0 15px rgba(0,0,0,.2);margin: 0 20px 20px 0;padding-bottom: 5px;}
.album-list .cover-con {width: 180px;height: 180px;overflow: hidden;position: relative;}
.album-list .cover-con span {height: 22px;position: absolute;right: 10px;bottom: 0;color: #fff;font-size: 16px;}
.album-list .album-o {padding: 0 5px;}
.album-list .album-o .name {overflow: hidden;height: 25px;line-height: 25px;}
.album-list .operate {color: #999;font-size: 12px;}
.album-list .op-btn {display: none;}
.album-list .op-btn a {margin-left: 8px;float: left;height: 12px;width: 12px;background: url("images/icon_btn.png") 0 0 no-repeat;}
.album-list .op-btn .delete {background-position: -19px 0;}
.album-list .op-btn .edit:hover {background-position: 0 -16px;}
.album-list .op-btn .delete:hover {background-position: -19px -16px;}
.album-content .li-hover .op-btn {display: block;}
.album-content .li-hover {opacity: .8;filter: alpha(opacity=80);}
.li-hover .album-o .name a {color: #54a2f5;}
/* pic-top-bar */
.pic-top-bar {height: 24px;overflow: hidden;position: relative;}
.pic-top-bar .go-back, .album-null .go-back, .delete-null .go-back {height: 24px;line-height: 24px;text-indent: 20px;width: 90px;background: url("images/btn_cmb_2.png") 0 0 no-repeat;font-size: 12px;}
.pic-top-bar .go-back:hover, .album-null .go-back:hover {background-position: 0 -28px;}
.album-null .go-back {text-align: left;position: absolute;left: 0;top: 0;color: #333;}
.pic-top-bar .name {line-height: 24px;margin: 0 15px;font-size: 18px;}
.pic-top-bar .name span {color: #999;font-size: 12px;padding: 0 5px;}
.pic-top-bar .desc {height: 18px;margin-top: 5px;}
.pic-top-bar .r {position: absolute;right: 0;top: 0;height: 24px;}
.managePage .pic-top-bar .r {right: 10px;}
.pic-top-bar .select-all {height: 24px;line-height: 24px;padding-right: 8px;}
.pic-top-bar .select-all input {margin-right: 4px;}
.pic-top-bar .btn {float: left;height: 24px;width: 80px;line-height: 24px;background: url("images/btn_cmb_2.png") -100px 0 no-repeat;font-size: 12px;text-indent: 30px;margin-left: 10px;letter-spacing: 2px;}
.pic-top-bar .download:hover {background-position: -100px -28px;}
.pic-top-bar .delete {background-position: -190px 0;}
.pic-top-bar .delete:hover {background-position: -190px -28px;}
.pic-top-bar .reflash {background-position: -280px 0;text-indent: -9999px;width: 30px;}
.pic-top-bar .reflash:hover {background-position: -280px -28px;}
.delete-null .go-back {display: block;}
.photoPage .pic-top-bar .btn {background: url("images/btn_cmb_5.png") 0 0 no-repeat;text-indent: 24px;letter-spacing: 0;}
.photoPage .pic-top-bar .download:hover {background-position: 0 -28px;}
.photoPage .pic-top-bar .delete {background-position: -90px 0;}
.photoPage .pic-top-bar .delete:hover {background-position: -90px -28px;}
.photoPage .pic-top-bar .reflash {background: url("images/btn_cmb_2.png") no-repeat -280px 0;text-indent: -9999px;}
.photoPage .pic-top-bar .reflash:hover {background-position: -280px -28px;}

.mod-photo-list-small {margin-top: 20px;}
.managePage .mod-photo-list-small {margin-top: 15px;}
.mod-photo-list-small .photo-item {display: inline;float: left;margin: 0 6px 6px 0;}
.mod-photo-list-small .mod-photo-item {width: 180px;height: 180px;position: relative;}
.mod-photo-list-small .mod-photo-item img {max-width: 100%;}
.mod-photo-item .select {position: absolute;width: 100%;height: 100%;left: 0;top: 0;display: none;cursor: pointer;}
.mod-photo-item .select i.b {display: block;border: 2px #3195ff solid;height: 176px;width: 176px;}
.mod-photo-item .select i.s {height: 16px;width: 16px;background: url("images/select.png") 0 0 no-repeat;position: absolute;left: 0;top: 0;}
.mod-photo-item .setting {position: absolute;top: 5px;right: 5px;z-index: 10;display: none;}
.mod-photo-item .set-btn {display: block;height: 20px;width: 20px;background: url("images/icon_btn1.png") 0 0 no-repeat;}
.mod-photo-item .set-btn:hover {background-position: 0 -24px;}
.mod-photo-item .photo-op-list {width: 90px;background: #fff;position: absolute;right: 0; top: 22px;display: none;border-radius: 2px;}
.photo-op-list a {height: 24px;line-height: 24px;display: block;padding-left: 10px;}
.photo-op-list a:hover {background: #edeff5;}

.managePage .mod-photo-list-small .mod-photo-item {width: 112px;height: 112px;}
.managePage .mod-photo-item .select i.b {width: 108px;height: 108px;}

.p-hover-li .mod-photo-item .select, .p-click-li .mod-photo-item .select {display: block;}
.p-click-li .mod-photo-item .select i.s {background-position: -17px 0;}
.photo-item-hover {opacity: .8;filter: alpha(opacity=80);}
.photo-item-hover .mod-photo-item .setting {display: block;}

.ui-popup-wrap .bg {position: fixed;left: 0;top: 0;height: 100%;width: 100%;background: #000;opacity: 0;filter: alpha(opacity=0);z-index: 3;}
.ui-popup {position: fixed;left: 50%;top: 50%;margin: -28px 0 0 -90px;z-index: 5;}
.qz-tips-box{display:inline-block;padding:14px 25px;border:1px solid #d5d5d5;background-color:#fff;color:#404040;vertical-align:top;font-size:14px}
.qz-tips-box-m .tips-box-txt{position:relative;padding-left:32px;height:26px;font-size:14px;line-height:26px}
.qz-tips-box .tips-box-txt .icon-succeed-m{position:absolute;top:2px;left:0;width:20px;height:20px;background:url(images/icon_btn1.png) no-repeat -129px 0}
.loader-pop .qz-tips-box .tips-box-txt .icon-succeed-m{width:24px;height:24px;background:url(images/loader_1.gif) 0 0 no-repeat}
.rg-thumbs {display: none;}
.es-carousel-wrapper{position:relative;margin-bottom:20px;padding:10px 5%;background:#000;-webkit-box-shadow:0 1px 3px rgba(0,0,0,.9);-moz-box-shadow:0 1px 3px rgba(0,0,0,.9);box-shadow:0 1px 3px rgba(0,0,0,.9)}
.es-carousel-inner{position:relative}
.es-carousel{overflow:hidden;background:#000}
.es-carousel ul{display:none}
.es-carousel ul li{float:left;display:block;height:100%}
.es-carousel ul li a{display:block;opacity:.4;-webkit-transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;transition:all .2s ease-in-out;filter:alpha(opacity=40);-webkit-touch-callout:none;-ms-transition:all .2s ease-in-out}
.es-carousel ul li.selected a{opacity:1;filter:alpha(opacity=100)}
.es-carousel ul li a img{display:block;max-width:100%;max-height:100%;border:none}
.es-nav span{position:absolute;top:50%;left:-20px;margin-top:-13px;width:14px;height:26px;background:transparent url(images/nav_thumbs.png) no-repeat -15px 0;text-indent:-9000px;opacity:.8;cursor:pointer}
.es-nav span.es-nav-next{right:-20px;left:auto;background-position:-41px 0}
.es-nav span:hover{background-position:0 0}
.es-nav span.es-nav-next:hover{background-position:-56px 0}

.rg-gallery-wrap {display: none;width: 100%;height: 100%;position: fixed;left: 0;top: 0;background: url("images/gallery_bg.png") 0 0 repeat;}

.rg-top-bar .close {position: absolute;right: 10px;top: 10px;height: 28px;width: 28px;background: url(images/icon_tgl.png) -180px -11px;text-indent: -9999px;z-index: 3;}
.rg-top-bar .close:hover {background-position: -223px -11px;}
.rg-top-bar .op-box {position: absolute;left: 10px;height: 28px;top: 10px;z-index: 3;}
.rg-top-bar .op-box a, .rg-caption .op-box a {padding-left: 22px;color: #999;height: 20px;line-height: 20px;background: url("images/icon_btn3.png") 4px 3px no-repeat;margin-right: 20px;}
.rg-top-bar .op-box .download:hover, .rg-caption .op-box .download:hover {background-position: 4px -21px;}
.rg-top-bar .op-box .delete , .rg-caption .op-box .delete {background-position: -85px 3px;}

.rg-image-wrapper{position:relative;padding:40px 50px 20px}
.rg-image{display:table-cell;vertical-align:middle;position:relative;text-align:center;line-height:0}
.rg-image img{max-height:100%;max-width:100%}
.rg-image-nav a{z-index:5;position:absolute;top:50%;left:20px;margin-top:-24px;background:url(images/icon_tgl.png) no-repeat 0 0;width:28px;height:47px;text-indent:-9000px;cursor:pointer;outline:0}
.rg-image-nav a.rg-image-nav-next{right:20px;left:auto;background-position:-86px 0}
.rg-image-nav a:hover{opacity:.8}
.rg-caption-wrapper{position:absolute;top:10px;color:#fff;left:5%;width:90%}
.rg-caption{text-align:center;position:relative;line-height:20px}
.rg-caption p{font-size:12px;letter-spacing:2px;font-family:'Trebuchet MS','Myriad Pro',Arial,sans-serif;line-height:20px;padding:0 15px;text-transform:uppercase}
.rg-caption .op-box{height:20px;line-height:20px;position:absolute;left:0;top:0}
.rg-loading{width:46px;height:46px;position:absolute;top:50%;left:50%;background:#000 url(images/loader.gif) no-repeat center center;margin:-23px 0 0 -23px;z-index:100;-moz-border-radius:10px;-webkit-border-radius:10px;border-radius:10px;opacity:.7}
