<!DOCTYPE html>
<html>
<head lang="zh-cn">
    <meta charset="UTF-8">
    <title>登录</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="renderer" content="webkit">
    <meta name="designer" content=""/>
    <meta name="author" content="yhw"/>
    <link rel="stylesheet" href="/static/css/style.css?v=2.0" />
    <link rel="stylesheet" href="/static/css/sweet-alert.css" />
    <link rel="icon" href="/static/css/fav/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="/static/css/fav/favicon.ico" type="image/x-icon" />
    <meta name="keywords" content="">
    <meta name="description" content="">
    <style>
        html {height: 100%;}
        .copyright {width: 100%;line-height: 40px;height: 40px;text-align: center;position: absolute;left: 0;bottom: 0;color: #fff;}
    </style>
</head>
<body class="loginPage">
    <div class="container">
        <div class="bg"><img src="/static/css/images/login_bg.jpg" alt=""></div>
        <div class="login-box">
            <div class="login">
                <div class="form-box">
                    <div class="int-box">
                        <div class="label label-1"></div>
                        <div class="int"><input type="text" id="account" placeholder="用户"></div>
                    </div>
                    <div class="int-box">
                        <div class="label label-2"></div>
                        <div class="int"><input type="password" id="password" placeholder="密码"></div>
                    </div>
                    <div class="btn-box">
                        <a href="javascript:void(0);" class="login-btn" id="login-btn">登录</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <p class="copyright">备案号：粤ICP备16068124号-1</p>
    <script type="text/javascript" src="http://ptres.37.com/js/sq/lib/sq.core.js"></script>
    <script type="text/javascript" src="/static/js/md5/jQuery.md5.js"></script>
    <script type="text/javascript" src="/static/js/sweetalert/sweet-alert.js"></script>
    <script data-main="/static/js/login/login" src="http://ptres.37.com/js/sq/lib/require.js"></script>    
</body>
</html>